@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Stop this application</h1>
    <h3>Time Stamp: @ViewBag.TimeStamp</h3>
    
    <form action='@Url.Action("Stop", "Home")' method="POST">
        <input type="hidden" name="html" id="html"  value="ADD YOUR HTML HERE">
        <button type="submit">Stop Application</button>
    </form>
</div>
